<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Mars.  Stuff.  Here.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <img style="width: 50%;" src="{{ mars_data.featured_image_url }}" alt="Mars">
    <h2>The typical weather on Mars is:</h2>
    <h3>News Title: {{ mars_data.mars_facts }}</h3>
    <h3>News Paragraph: {{ mars_data.news_p }}</h3>
    
  </div>
  </div>

  <div class="container">

    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h1>{{ news_title }}</h1>
    </div>

  </div>

</body>

</html>